<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="generator" content="Hugo 0.118.2">
    <title>Login</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom styles and functionality for this page -->
    <script src="/js/color-modes.js"></script>
    <link href="/css/signin.css" rel="stylesheet" type="text/css">
</head>

<body class="d-flex align-items-center py-4">
    <div class="wrapper">
        <div class="logo">
            <img src="/images/coding.jpg" alt="">
        </div>
        <div class="text-center mt-4 name">
            <h3>THB Laptop Store</h3>
            <h5>Sign In</h4>
        </div>
        <div id="login-error" class="alert alert-danger d-none" role="alert">
            Error. Invalid Login Information
        </div>

        <form id="login-form" class="p-3 mt-3" action="/login" method="POST">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <button class="btn mt-3 btn-login" type="submit">Login</button>
        </form>
        <!-- <div class="text-center fs-6">
            <a href="#">Forget password?</a> or <a href="#">Sign up</a>
        </div> -->
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>

</html>